In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [2]:
data = pd.read_csv('bank-additional.csv', sep=';')
data.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,30,blue-collar,married,basic.9y,no,yes,no,cellular,may,fri,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no
1,39,services,single,high.school,no,no,no,telephone,may,fri,...,4,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no
2,25,services,married,high.school,no,yes,no,telephone,jun,wed,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.962,5228.1,no
3,38,services,married,basic.9y,no,unknown,unknown,telephone,jun,fri,...,3,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no
4,47,admin.,married,university.degree,no,yes,no,cellular,nov,mon,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4119 entries, 0 to 4118
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             4119 non-null   int64
 1   job             4119 non-null   object
 2   marital         4119 non-null   object
 3   education       4119 non-null   object
 4   default         4119 non-null   object
 5   housing         4119 non-null   object
 6   loan            4119 non-null   object
 7   contact         4119 non-null   object
 8   month           4119 non-null   object
 9   day_of_week     4119 non-null   object
 10  duration        4119 non-null   int64
 11  campaign        4119 non-null   int64
 12  pdays           4119 non-null   int64
 13  previous        4119 non-null   int64
 14  poutcome        4119 non-null   object
 15  emp.var.rate    4119 non-null   float64
 16  cons.price.idx  4119 non-null   float64
 17  cons.conf.idx   4119 non-null   float64
 18  euribor3m       4119 non-null   float64
 19  nr.employed     4119 non-null   float64
 20  y               4119 non-null   object
dtypes: float64(5), int64(5), object(11)
memory usage: 675.9+ KB

In [4]:
Counter(data.job)

Counter({'blue-collar': 884,
         'services': 393,
         'admin.': 1012,
         'entrepreneur': 148,
         'self-employed': 159,
         'technician': 691,
         'management': 324,
         'student': 82,
         'retired': 166,
         'housemaid': 110,
         'unemployed': 111,
         'unknown': 39})

In [5]:
data['job'].replace(to_replace=['unknown'], value= np.nan, inplace=True)

In [6]:
Counter(data.job)

Counter({'blue-collar': 884,
         'services': 393,
         'admin.': 1012,
         'entrepreneur': 148,
         'self-employed': 159,
         'technician': 691,
         'management': 324,
         'student': 82,
         'retired': 166,
         'housemaid': 110,
         'unemployed': 111,
         nan: 39})

In [7]:
data.isnull().sum()

age                0
job               39
marital            0
education          0
default            0
housing            0
loan               0
contact            0
month              0
day_of_week        0
duration           0
campaign           0
pdays              0
previous           0
poutcome           0
emp.var.rate       0
cons.price.idx     0
cons.conf.idx      0
euribor3m          0
nr.employed        0
y                  0
dtype: int64

In [8]:
Counter(data.marital)

Counter({'married': 2509, 'single': 1153, 'divorced': 446, 'unknown': 11})

In [9]:
data.marital.replace('unknown', np.nan, inplace=True)

In [10]:
Counter(data.marital)

Counter({'married': 2509, 'single': 1153, 'divorced': 446, nan: 11})

In [11]:
Counter(data.education)

Counter({'basic.9y': 574,
         'high.school': 921,
         'university.degree': 1264,
         'professional.course': 535,
         'basic.6y': 228,
         'basic.4y': 429,
         'unknown': 167,
         'illiterate': 1})

In [12]:
data.replace('unknown', np.nan, inplace=True)

In [13]:
Counter(data.default)

Counter({'no': 3315, nan: 803, 'yes': 1})

In [14]:
Counter(data.housing)

Counter({'yes': 2175, 'no': 1839, nan: 105})

In [15]:
data.isnull().sum()

age                 0
job                39
marital            11
education         167
default           803
housing           105
loan              105
contact             0
month               0
day_of_week         0
duration            0
campaign            0
pdays               0
previous            0
poutcome            0
emp.var.rate        0
cons.price.idx      0
cons.conf.idx       0
euribor3m           0
nr.employed         0
y                   0
dtype: int64

In [16]:
Counter(data.contact)

Counter({'cellular': 2652, 'telephone': 1467})

In [17]:
Counter(data.previous)

Counter({0: 3523, 2: 78, 1: 475, 3: 25, 5: 2, 4: 14, 6: 2})

In [18]:
Counter(data.poutcome)

Counter({'nonexistent': 3523, 'failure': 454, 'success': 142})

In [19]:
data.drop(['default'], axis=1, inplace=True)

In [20]:
data.columns

Index(['age', 'job', 'marital', 'education', 'housing', 'loan', 'contact',
       'month', 'day_of_week', 'duration', 'campaign', 'pdays', 'previous',
       'poutcome', 'emp.var.rate', 'cons.price.idx', 'cons.conf.idx',
       'euribor3m', 'nr.employed', 'y'],
      dtype='object')

In [21]:
data.isnull().sum()

age                 0
job                39
marital            11
education         167
housing           105
loan              105
contact             0
month               0
day_of_week         0
duration            0
campaign            0
pdays               0
previous            0
poutcome            0
emp.var.rate        0
cons.price.idx      0
cons.conf.idx       0
euribor3m           0
nr.employed         0
y                   0
dtype: int64

In [22]:
data.dropna(inplace=True)

In [23]:
data.isnull().sum()

age               0
job               0
marital           0
education         0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
y                 0
dtype: int64

In [24]:
data.shape

(3811, 20)

Now the data is clean without any unknown or nan values.
replacing categorical data with dummies or Label encoder

In [25]:
Counter(data.y)

Counter({'no': 3398, 'yes': 413})

In [26]:
data.y.replace(['yes','no'],[1,0], inplace=True)

In [27]:
Counter(data.y)

Counter({0: 3398, 1: 413})

In [28]:
dummies = pd.get_dummies(data, columns=['job','marital','education','housing','loan','contact','month','poutcome'], drop_first=True)

In [29]:
dummies.columns

Index(['age', 'day_of_week', 'duration', 'campaign', 'pdays', 'previous',
       'emp.var.rate', 'cons.price.idx', 'cons.conf.idx', 'euribor3m',
       'nr.employed', 'y', 'job_blue-collar', 'job_entrepreneur',
       'job_housemaid', 'job_management', 'job_retired', 'job_self-employed',
       'job_services', 'job_student', 'job_technician', 'job_unemployed',
       'marital_married', 'marital_single', 'education_basic.6y',
       'education_basic.9y', 'education_high.school', 'education_illiterate',
       'education_professional.course', 'education_university.degree',
       'housing_yes', 'loan_yes', 'contact_telephone', 'month_aug',
       'month_dec', 'month_jul', 'month_jun', 'month_mar', 'month_may',
       'month_nov', 'month_oct', 'month_sep', 'poutcome_nonexistent',
       'poutcome_success'],
      dtype='object')

In [30]:
dummies.head()

,age,day_of_week,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,...,month_dec,month_jul,month_jun,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_nonexistent,poutcome_success
0,30,fri,487,2,999,0,-1.8,92.893,-46.2,1.313,...,0,0,0,0,1,0,0,0,1,0
1,39,fri,346,4,999,0,1.1,93.994,-36.4,4.855,...,0,0,0,0,1,0,0,0,1,0
2,25,wed,227,1,999,0,1.4,94.465,-41.8,4.962,...,0,0,1,0,0,0,0,0,1,0
4,47,mon,58,1,999,0,-0.1,93.200,-42.0,4.191,...,0,0,0,0,0,1,0,0,1,0
5,32,thu,128,3,999,2,-1.1,94.199,-37.5,0.884,...,0,0,0,0,0,0,0,1,0,0

In [31]:
dummies.drop(['y','day_of_week'], axis=1, inplace=True)

In [32]:
data = pd.concat((data, dummies), axis = 1)

In [33]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3811 entries, 0 to 4118
Data columns (total 62 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   age                            3811 non-null   int64
 1   job                            3811 non-null   object
 2   marital                        3811 non-null   object
 3   education                      3811 non-null   object
 4   housing                        3811 non-null   object
 5   loan                           3811 non-null   object
 6   contact                        3811 non-null   object
 7   month                          3811 non-null   object
 8   day_of_week                    3811 non-null   object
 9   duration                       3811 non-null   int64
 10  campaign                       3811 non-null   int64
 11  pdays                          3811 non-null   int64
 12  previous                       3811 non-null   int64
 13  poutcome                       3811 non-null   object
 14  emp.var.rate                   3811 non-null   float64
 15  cons.price.idx                 3811 non-null   float64
 16  cons.conf.idx                  3811 non-null   float64
 17  euribor3m                      3811 non-null   float64
 18  nr.employed                    3811 non-null   float64
 19  y                              3811 non-null   int64
 20  age                            3811 non-null   int64
 21  duration                       3811 non-null   int64
 22  campaign                       3811 non-null   int64
 23  pdays                          3811 non-null   int64
 24  previous                       3811 non-null   int64
 25  emp.var.rate                   3811 non-null   float64
 26  cons.price.idx                 3811 non-null   float64
 27  cons.conf.idx                  3811 non-null   float64
 28  euribor3m                      3811 non-null   float64
 29  nr.employed                    3811 non-null   float64
 30  job_blue-collar                3811 non-null   uint8
 31  job_entrepreneur               3811 non-null   uint8
 32  job_housemaid                  3811 non-null   uint8
 33  job_management                 3811 non-null   uint8
 34  job_retired                    3811 non-null   uint8
 35  job_self-employed              3811 non-null   uint8
 36  job_services                   3811 non-null   uint8
 37  job_student                    3811 non-null   uint8
 38  job_technician                 3811 non-null   uint8
 39  job_unemployed                 3811 non-null   uint8
 40  marital_married                3811 non-null   uint8
 41  marital_single                 3811 non-null   uint8
 42  education_basic.6y             3811 non-null   uint8
 43  education_basic.9y             3811 non-null   uint8
 44  education_high.school          3811 non-null   uint8
 45  education_illiterate           3811 non-null   uint8
 46  education_professional.course  3811 non-null   uint8
 47  education_university.degree    3811 non-null   uint8
 48  housing_yes                    3811 non-null   uint8
 49  loan_yes                       3811 non-null   uint8
 50  contact_telephone              3811 non-null   uint8
 51  month_aug                      3811 non-null   uint8
 52  month_dec                      3811 non-null   uint8
 53  month_jul                      3811 non-null   uint8
 54  month_jun                      3811 non-null   uint8
 55  month_mar                      3811 non-null   uint8
 56  month_may                      3811 non-null   uint8
 57  month_nov                      3811 non-null   uint8
 58  month_oct                      3811 non-null   uint8
 59  month_sep                      3811 non-null   uint8
 60  poutcome_nonexistent           3811 non-null   uint8
 61  poutcome_success               3811 non-null   uint8
dtypes: float64(10), int64(11), object(9), uint8(32)
memory usage: 1.0+ MB

In [34]:
data.drop(['job','marital','education','housing','loan','contact','month','poutcome'], axis=1, inplace=True)

In [35]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3811 entries, 0 to 4118
Data columns (total 54 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   age                            3811 non-null   int64
 1   day_of_week                    3811 non-null   object
 2   duration                       3811 non-null   int64
 3   campaign                       3811 non-null   int64
 4   pdays                          3811 non-null   int64
 5   previous                       3811 non-null   int64
 6   emp.var.rate                   3811 non-null   float64
 7   cons.price.idx                 3811 non-null   float64
 8   cons.conf.idx                  3811 non-null   float64
 9   euribor3m                      3811 non-null   float64
 10  nr.employed                    3811 non-null   float64
 11  y                              3811 non-null   int64
 12  age                            3811 non-null   int64
 13  duration                       3811 non-null   int64
 14  campaign                       3811 non-null   int64
 15  pdays                          3811 non-null   int64
 16  previous                       3811 non-null   int64
 17  emp.var.rate                   3811 non-null   float64
 18  cons.price.idx                 3811 non-null   float64
 19  cons.conf.idx                  3811 non-null   float64
 20  euribor3m                      3811 non-null   float64
 21  nr.employed                    3811 non-null   float64
 22  job_blue-collar                3811 non-null   uint8
 23  job_entrepreneur               3811 non-null   uint8
 24  job_housemaid                  3811 non-null   uint8
 25  job_management                 3811 non-null   uint8
 26  job_retired                    3811 non-null   uint8
 27  job_self-employed              3811 non-null   uint8
 28  job_services                   3811 non-null   uint8
 29  job_student                    3811 non-null   uint8
 30  job_technician                 3811 non-null   uint8
 31  job_unemployed                 3811 non-null   uint8
 32  marital_married                3811 non-null   uint8
 33  marital_single                 3811 non-null   uint8
 34  education_basic.6y             3811 non-null   uint8
 35  education_basic.9y             3811 non-null   uint8
 36  education_high.school          3811 non-null   uint8
 37  education_illiterate           3811 non-null   uint8
 38  education_professional.course  3811 non-null   uint8
 39  education_university.degree    3811 non-null   uint8
 40  housing_yes                    3811 non-null   uint8
 41  loan_yes                       3811 non-null   uint8
 42  contact_telephone              3811 non-null   uint8
 43  month_aug                      3811 non-null   uint8
 44  month_dec                      3811 non-null   uint8
 45  month_jul                      3811 non-null   uint8
 46  month_jun                      3811 non-null   uint8
 47  month_mar                      3811 non-null   uint8
 48  month_may                      3811 non-null   uint8
 49  month_nov                      3811 non-null   uint8
 50  month_oct                      3811 non-null   uint8
 51  month_sep                      3811 non-null   uint8
 52  poutcome_nonexistent           3811 non-null   uint8
 53  poutcome_success               3811 non-null   uint8
dtypes: float64(10), int64(11), object(1), uint8(32)
memory usage: 803.9+ KB

In [36]:
from sklearn.preprocessing import LabelEncoder

In [37]:
enc = LabelEncoder()
data.day_of_week = enc.fit_transform(data.day_of_week)

In [38]:
print(data.shape)
data.info()

(3811, 54)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3811 entries, 0 to 4118
Data columns (total 54 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   age                            3811 non-null   int64
 1   day_of_week                    3811 non-null   int32
 2   duration                       3811 non-null   int64
 3   campaign                       3811 non-null   int64
 4   pdays                          3811 non-null   int64
 5   previous                       3811 non-null   int64
 6   emp.var.rate                   3811 non-null   float64
 7   cons.price.idx                 3811 non-null   float64
 8   cons.conf.idx                  3811 non-null   float64
 9   euribor3m                      3811 non-null   float64
 10  nr.employed                    3811 non-null   float64
 11  y                              3811 non-null   int64
 12  age                            3811 non-null   int64
 13  duration                       3811 non-null   int64
 14  campaign                       3811 non-null   int64
 15  pdays                          3811 non-null   int64
 16  previous                       3811 non-null   int64
 17  emp.var.rate                   3811 non-null   float64
 18  cons.price.idx                 3811 non-null   float64
 19  cons.conf.idx                  3811 non-null   float64
 20  euribor3m                      3811 non-null   float64
 21  nr.employed                    3811 non-null   float64
 22  job_blue-collar                3811 non-null   uint8
 23  job_entrepreneur               3811 non-null   uint8
 24  job_housemaid                  3811 non-null   uint8
 25  job_management                 3811 non-null   uint8
 26  job_retired                    3811 non-null   uint8
 27  job_self-employed              3811 non-null   uint8
 28  job_services                   3811 non-null   uint8
 29  job_student                    3811 non-null   uint8
 30  job_technician                 3811 non-null   uint8
 31  job_unemployed                 3811 non-null   uint8
 32  marital_married                3811 non-null   uint8
 33  marital_single                 3811 non-null   uint8
 34  education_basic.6y             3811 non-null   uint8
 35  education_basic.9y             3811 non-null   uint8
 36  education_high.school          3811 non-null   uint8
 37  education_illiterate           3811 non-null   uint8
 38  education_professional.course  3811 non-null   uint8
 39  education_university.degree    3811 non-null   uint8
 40  housing_yes                    3811 non-null   uint8
 41  loan_yes                       3811 non-null   uint8
 42  contact_telephone              3811 non-null   uint8
 43  month_aug                      3811 non-null   uint8
 44  month_dec                      3811 non-null   uint8
 45  month_jul                      3811 non-null   uint8
 46  month_jun                      3811 non-null   uint8
 47  month_mar                      3811 non-null   uint8
 48  month_may                      3811 non-null   uint8
 49  month_nov                      3811 non-null   uint8
 50  month_oct                      3811 non-null   uint8
 51  month_sep                      3811 non-null   uint8
 52  poutcome_nonexistent           3811 non-null   uint8
 53  poutcome_success               3811 non-null   uint8
dtypes: float64(10), int32(1), int64(11), uint8(32)
memory usage: 789.0 KB

In [39]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, r2_score, roc_auc_score, precision_score, recall_score
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.linear_model import LinearRegression
from sklearn import model_selection

In [40]:
data.columns

Index(['age', 'day_of_week', 'duration', 'campaign', 'pdays', 'previous',
       'emp.var.rate', 'cons.price.idx', 'cons.conf.idx', 'euribor3m',
       'nr.employed', 'y', 'age', 'duration', 'campaign', 'pdays', 'previous',
       'emp.var.rate', 'cons.price.idx', 'cons.conf.idx', 'euribor3m',
       'nr.employed', 'job_blue-collar', 'job_entrepreneur', 'job_housemaid',
       'job_management', 'job_retired', 'job_self-employed', 'job_services',
       'job_student', 'job_technician', 'job_unemployed', 'marital_married',
       'marital_single', 'education_basic.6y', 'education_basic.9y',
       'education_high.school', 'education_illiterate',
       'education_professional.course', 'education_university.degree',
       'housing_yes', 'loan_yes', 'contact_telephone', 'month_aug',
       'month_dec', 'month_jul', 'month_jun', 'month_mar', 'month_may',
       'month_nov', 'month_oct', 'month_sep', 'poutcome_nonexistent',
       'poutcome_success'],
      dtype='object')

In [41]:
dataset1 = data.iloc[:,:10]

In [42]:
dataset1.columns

Index(['age', 'day_of_week', 'duration', 'campaign', 'pdays', 'previous',
       'emp.var.rate', 'cons.price.idx', 'cons.conf.idx', 'euribor3m'],
      dtype='object')

In [43]:
dataset2 = data.iloc[:,12:]

In [44]:
dataset2.columns

Index(['age', 'duration', 'campaign', 'pdays', 'previous', 'emp.var.rate',
       'cons.price.idx', 'cons.conf.idx', 'euribor3m', 'nr.employed',
       'job_blue-collar', 'job_entrepreneur', 'job_housemaid',
       'job_management', 'job_retired', 'job_self-employed', 'job_services',
       'job_student', 'job_technician', 'job_unemployed', 'marital_married',
       'marital_single', 'education_basic.6y', 'education_basic.9y',
       'education_high.school', 'education_illiterate',
       'education_professional.course', 'education_university.degree',
       'housing_yes', 'loan_yes', 'contact_telephone', 'month_aug',
       'month_dec', 'month_jul', 'month_jun', 'month_mar', 'month_may',
       'month_nov', 'month_oct', 'month_sep', 'poutcome_nonexistent',
       'poutcome_success'],
      dtype='object')

In [45]:
X = pd.concat((dataset1, dataset2), axis=1)
y = data.y

In [46]:
X.head()

,age,day_of_week,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,...,month_dec,month_jul,month_jun,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_nonexistent,poutcome_success
0,30,0,487,2,999,0,-1.8,92.893,-46.2,1.313,...,0,0,0,0,1,0,0,0,1,0
1,39,0,346,4,999,0,1.1,93.994,-36.4,4.855,...,0,0,0,0,1,0,0,0,1,0
2,25,4,227,1,999,0,1.4,94.465,-41.8,4.962,...,0,0,1,0,0,0,0,0,1,0
4,47,1,58,1,999,0,-0.1,93.200,-42.0,4.191,...,0,0,0,0,0,1,0,0,1,0
5,32,2,128,3,999,2,-1.1,94.199,-37.5,0.884,...,0,0,0,0,0,0,0,1,0,0

In [47]:
# prepare configuration for cross validation test harness
seed = 7
# prepare models
models = []
models.append(('Logistic Regression', LogisticRegression()))
models.append(('Random Forest classifier', RandomForestClassifier()))
models.append(('K Nearest Neighbours', KNeighborsClassifier()))
models.append(('Decision Tree Classifier', DecisionTreeClassifier()))
models.append(('ANN', MLPClassifier()))
models.append(('SVM', SVC()))
# evaluate each model in turn
results = []
names = []
scoring = 'accuracy'
for name, model in models:
    kfold = model_selection.KFold(n_splits=10, random_state=seed)
    cv_results = model_selection.cross_val_score(model, X, y, cv=kfold, scoring=scoring)
    results.append(cv_results)
    names.append(name)
    msg = "%s: %f (%f)" % (name, cv_results.mean(), cv_results.std())
    print(msg)

Logistic Regression: 0.913931 (0.009397)
Random Forest classifier: 0.909994 (0.008969)
K Nearest Neighbours: 0.901601 (0.011750)
Decision Tree Classifier: 0.890581 (0.012746)
ANN: 0.869052 (0.085517)
SVM: 0.901070 (0.012239)

In [59]:
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state = 13, test_size=0.3)

In [61]:
model = RandomForestClassifier(random_state=10, n_estimators=100)
model.fit(X_train,y_train)
y_predict = model.predict(X_test)
print('accuracy score:', accuracy_score(y_test, y_predict))
print('R2 score:', r2_score(y_test, y_predict))
print('Roc_Auc score:', roc_auc_score(y_test, y_predict))

accuracy score: 0.9265734265734266
R2 score: 0.21796874999999993
Roc_Auc score: 0.7456380208333333

In [63]:
print(Counter(y_test))
pd.crosstab(y_test, y_predict)

Counter({0: 1024, 1: 120})

col_0    0   1
y
0      998  26
1       58  62